.errMessage {
  display: none;
  background-color: lightcoral;
  color: cornsilk;
  font: 'Bungee', cursive !important;
  border: solid;
  border-color: red;
  border-radius: 15px;
  font-size: 30px;
  width: 100%;
  max-height: 80px;
  text-align: center;
}

#errSec{
  margin-top: 1em;
}