#newTweetcontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
}

h2{
  justify-content: center;
}

label{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.new-tweet{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: inherit;
}

#new-tweet-header{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: inherit;
}

input, textarea{
  background-color: #f4f1ec;
  border: none;
  border-bottom: 2px  #545149 solid;
  width: 90%;
  font-family: 'Source Sans Pro', sans-serif;
  color: #545149;
  font-size: large;;
}

#new-tweet-footer{
  display: flex;
  padding-top: 5px;
  padding-bottom: 15px;
  width: inherit;
  justify-content: space-between;
}


.tweet-button{
  background-color: #4056A1;
  color: #f4f1ec;
  font-family: 'Bungee', cursive;
}

#counter {
  display: flex;
  flex-direction: row;
  color: #545149;
  align-items: right;
  font-size: medium;
  font-family: 'Bungee', cursive;
}

#neg-counter{
  color: darkred;
  align-items: right;
  font-size: medium;
  font-family: 'Bungee', cursive;
}

